body{
    background-color: #efefef;
}

/*上右下左外边框*/
.main{
    background-color: white;
    margin: 10px 80px 10px 80px;
}
/*问题提交按钮*/
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

/*头像*/
.media-object{
    width: 60px;
    height: 60px;
}

/*主页问题的回复浏览时间数*/
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/*调整我的问题与最新回复的上边距*/
.profile .section{
margin-top: 20px;
}

/*问题详情页面下的编辑按钮*/
.community-menu{
    color: #999;
    font-size: 13px;
}